<!DOCTYPE html>
<!-- https://www.youtube.com/watch?v=4sF1Kifpaqs&list=PLPl81lqbj-4J-gfAERGDCdOQtVgRhSvIT&index=4 -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola Mundo con Vue.js</title>
  </head>
  <body>
    <!-- Declaramos la aplicacion con el ID app -->
    <div id="app">
      <h1>{{ titulo }}</h1>

      <input type="text" v-model="nuevaFruta">
      <!-- <button v-on:click="agregarFruta">Agregar</button> -->
      <button @click="agregarFruta">Agregar</button>

      <ul>
        <li v-for="fruta of frutas">
          {{ fruta.nombre }}
          <span v-if="fruta.cantidad > 0">: {{ fruta.cantidad }}</span>
          <span v-if="fruta.cantidad === 0"> - SIN STOCK</span>
        </li>
      </ul>
    </div>


    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="01.js"></script>
  </body>
</html>
